#container{
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}
.center{
    text-align: center;
}
.orange{
    color: orange;
}
#header,#banner{
    background-color: #0086FE;
}
#header h2{
    color: white;
    margin-bottom: 0px;
}
#header .row{
    width: 100%;
}
#header .row span{
    font-size: 22px;
    background-color:#38A1FE;
}
#header ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    position: relative;
}
#header ul li {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    padding: 25px 10px;
    margin: 0px 7px;
}
#header ul li a {
    color: #CCC;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}
#header ul li a:after {
    content: "";
    position: absolute;
    border: 1px solid #fff;
    width: 20%;
    bottom: -10px;
    left: 25%;
    transition: 0.5s;
    opacity: 0;
}
#header ul li:hover a:after {
    width: 80%;
    left: 10%;
    opacity: 1;
}
.menu-btn {
    position: absolute;
    background-color: transparent;
    border: none;
    right: 20px;
    top: 25px;
    z-index: 1000;
    pointer-events: none;
}
.menu-btn .line {
    display: block;
    width: 25px;
    border: 2px solid #fff;
    margin-bottom: 2px;
    transition: 1s;
}
input[value="open_nav"] {
    position: absolute;
    right: 20px;
    top: 25px;
    height: 20px;
    width: 25px;
    opacity: 0;
    cursor: pointer;
}
@media(max-width: 1200px){
    #main-navigation ul li {
        padding: 25px 3px;
        margin: 0px 3px;
    }
}
@media (min-width: 993px) {
    .menu-btn {
        display: none;
    }
}
@media (max-width:767px){
    .menu-btn{
        top:-60px;
        right: -5px;
    }
    input[value="open_nav"] {
        top:-60px;
        right: -5px;
    }
}
@media (max-width: 992px) {
    .menu-btn {
        display: block;
    }
    #header ul {
        transform: scale(1,0);
        opacity: 0;
        transition: 1s;
        transform-origin: top;
        position: absolute;
        width: 140%;
        background-color: rgba(0,0,0,0.8);
        left: -235px;
        top: 50px;
        z-index: 100000;
        text-align: center;
    }
    #header ul li {
        display: block;
        font-size: 20px;
        padding: 20px 0px;
    }
    #header ul li a {
        color: #fff;
    }
    input[value="open_nav"]:checked ~ ul {
        transform: scale(1,1) !important;
        opacity: 1 !important;
    }
    input[value="open_nav"]:checked ~ .menu-btn .line:nth-child(2){
        opacity: 0;
    }
    input[value="open_nav"]:checked ~ .menu-btn .line:first-child{
        transform: rotate(45deg);
    }
    input[value="open_nav"]:checked ~ .menu-btn .line:last-child{
        transform: rotate(-45deg);
        margin-top: -12px;
    }
}
@media ( max-width:767px){
    #header ul {
        transform: scale(1,0);
        opacity: 0;
        transition: 1s;
        transform-origin: top;
        position: absolute;
        width: 106%;
        background-color: rgba(0,0,0,0.8);
        left: 0px;
        top: 0px;
        z-index: 100000;
        text-align: center;
    }
}
#banner{
    color: white;
    font-size: 25px;
}
#banner button{
    display: block;
    background-color:#0086FE;
    border-radius: 50% 50%;
    height: 50px;
    width: 50px;
    margin: 25px;
}
#banner h1{
    margin-top: 50px;
    font-size: 30px;
}
#banner h2{
    font-size: 20px;
    color: green;
}
@media (max-width:480px){
    #banner h1{
        font-size: 22px;
    }
    #banner h2{
        font-size: 12px;
    }
}
.blinking-cursor {
    overflow: hidden; 
    white-space: nowrap;
    letter-spacing: 3px; 
    animation: 5s blink step-end infinite;
    animation:
    typing 10s steps(100, end),
    blink-caret 1s step-end infinite;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: whitesmoke; }
}
#banner p{
    font-size: 20px;
}
@media (max-width:480px){
    #banner p{
        font-size:12px;
    }
}
#banner img{
    max-height: 450px;
    margin: 0 auto;
}
@media (max-width:992px){
  #banner img{
    max-height: 350px;
}   
}
#about .image img{ 
    width: 100%;
    max-height: 520px;
}
#about h1{
    font-size: 45px;
    margin-bottom: 0px;
}
#about h3{
    margin-top: 0px;
}
#about iframe{
    min-height: 300px;
}
#quote{
    background-color: darkgray;
    color: white;
    border: 8px solid black;
}
#quote h1{
    color: blue;
}
#quote button{
    background-color: black;
    color: whitesmoke;
    border: none;
    padding: 10px 20px;
    margin-bottom: 50px;
}
#skills{
    background-image: url("https://p.w3layouts.com/demos_new/template_demo/20-06-2017/my_info-demo_Free/1502743516/web/images/skills.jpg");
    background-attachment: fixed;
    color: white;
}
#skills ul{
    list-style: none;
}
#skills progress{
    width: 80%;
    height: 15px;
    -webkit-appearance: none; 
    border: none;
}
progress::-webkit-progress-value {
	background:
		-webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
		-webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
		-webkit-linear-gradient(left, #0086FE, #2698FE);
	background-size: 25px 14px, 100% 100%, 100% 100%;
}
.row p{
    font-size: 18px;
    margin: 0 6px 12px;
}
#experience h3{
    text-decoration: underline;
}
#services{
    background-color: #171717;
    color: white;
}
#services .row{
  justify-content: space-around;
}
#services .info{
    background-color: white;
    color: black;
    margin: 50px 0px;
    padding: 0px;
}
#services .info:hover{
    border: 2px solid blue;
}
#services .info i{
    font-size: 25px;
    border: 2px solid blue;
    padding: 8px;
    margin: 30px 0px;
}
#projects .sz{
    padding: 0px;
}
#projects .figure img{
    width: 100%;
}
#projects{
    overflow: hidden;
}
#projects .figure:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    transform: translateY(100%);
    transition: 1s;
}
#projects .figure:hover:after {
    transform: translateY(0%);
    opacity: 1;
}
#projects .figureinfo{
    position: absolute;
    left: 20%;
    top: 30%;
    color: white;
    opacity: 0;
    transition: 4s;
}
#projects .figure:hover ~.figureinfo {
    opacity: 1;
}
#contact{
    background-color: #ECB731;
}
#contact h1{
    margin-top: 0px;
}
#contact .enter{
    text-align: center;
    padding: 10px;
}
#contact .enter input{
    background-color: transparent;
    border:transparent;
    border-bottom: 3px solid white;
    height: 50px;
    outline: none;
}
#contact .press{
    text-align: center;
}
#contact .press  input{
    background-color: black;
    color: white;
    border: transparent;
    padding: 10px;
    outline: none;
    min-width: 120px;
}
#footer {
    background-color: black;
    color: white;
    min-height: 180px;
    text-align: center;
}
#footer h3{
    color: deepskyblue;
}
#footer button{
    background-color:black;    
    margin: 10px;
    border-radius: 50% 50%;
    min-height: 28px;
    min-width: 28px;
}
#end{
    background-color: dimgrey;
    padding: 10px;
}
#end a{
    color: white;
    font-size: 15px;
}